/* Cambiar el tipo de Letra*/
* {
    font-family: 'Aladin', cursive;
}
/* Para el Video de presentación*/
.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 2;
}

video {
    position: absolute;
    left: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto;
    object-fit: fill;
    z-index: 1;
}

.text-overlay {
    z-index: 2;
}

.show {
    margin: 0.25rem;
}


/* Color Personalizado */
/* Fondo */
.has-background-coffee {
    background-color: #a24504 !important;
}
/* Botones */
.button.is-coffee {
    background-color: #a24504;
    border-color: transparent;
    color: #fff;
  }
  
  .button.is-coffee:hover, .button.is-coffee.is-hovered {
    background-color: #a24504;
    border-color: transparent;
    color: #fff;
  }
  
  .button.is-coffee:focus, .button.is-coffee.is-focused {
    border-color: transparent;
    color: #fff;
  }
  
  .button.is-coffee:focus:not(:active), .button.is-coffee.is-focused:not(:active) {
    box-shadow: 0 0 0 0.125em rgba(162, 69, 4, 0.25);
  }
  
  .button.is-coffee:active, .button.is-coffee.is-active {
    background-color: #a24504;
    border-color: transparent;
    color: #fff;
  }
  
  .button.is-coffee[disabled],
  fieldset[disabled] .button.is-coffee {
    background-color: #a24504;
    border-color: transparent;
    box-shadow: none;
  }
  
  .button.is-coffee.is-inverted {
    background-color: #fff;
    color: #a24504;
  }
  
  .button.is-coffee.is-inverted:hover {
    background-color: #f2f2f2;
  }
  
  .button.is-coffee.is-inverted[disabled],
  fieldset[disabled] .button.is-coffee.is-inverted {
    background-color: #fff;
    border-color: transparent;
    box-shadow: none;
    color: #a24504;
  }
  
  .button.is-coffee.is-loading::after {
    border-color: transparent transparent #fff #fff !important;
  }
  
  .button.is-coffee.is-outlined {
    background-color: transparent;
    border-color: #a24504;
    color: #a24504;
  }
  
  .button.is-coffee.is-outlined:hover, .button.is-coffee.is-outlined:focus {
    background-color: #a24504;
    border-color: #a24504;
    color: #fff;
  }
  
  .button.is-coffee.is-outlined.is-loading::after {
    border-color: transparent transparent #a24504 #a24504 !important;
  }
  
  .button.is-coffee.is-outlined[disabled],
  fieldset[disabled] .button.is-coffee.is-outlined {
    background-color: transparent;
    border-color: #a24504;
    box-shadow: none;
    color: #a24504;
  }
  
  .button.is-coffee.is-inverted.is-outlined {
    background-color: transparent;
    border-color: #fff;
    color: #fff;
  }
  
  .button.is-coffee.is-inverted.is-outlined:hover, .button.is-coffee.is-inverted.is-outlined:focus {
    background-color: #fff;
    color: #a24504;
  }
  
  .button.is-coffee.is-inverted.is-outlined[disabled],
  fieldset[disabled] .button.is-coffee.is-inverted.is-outlined {
    background-color: transparent;
    border-color: #fff;
    box-shadow: none;
    color: #fff;
  }

  /* HERO */

  .hero.is-coffee {
    background-color: #a24504;
    color: #fff;
  }
  
  .hero.is-coffee a:not(.button):not(.dropdown-item):not(.tag),
  .hero.is-coffee strong {
    color: inherit;
  }
  
  .hero.is-coffee .title {
    color: #fff;
  }
  
  .hero.is-coffee .subtitle {
    color: rgba(255, 255, 255, 0.9);
  }
  
  .hero.is-coffee .subtitle a:not(.button),
  .hero.is-coffee .subtitle strong {
    color: #fff;
  }
  
  @media screen and (max-width: 1087px) {
    .hero.is-coffee .navbar-menu {
      background-color: #a24504;
    }
  }
  
  .hero.is-coffee .navbar-item,
  .hero.is-coffee .navbar-link {
    color: rgba(255, 255, 255, 0.7);
  }
  
  .hero.is-coffee a.navbar-item:hover, .hero.is-coffee a.navbar-item.is-active,
  .hero.is-coffee .navbar-link:hover,
  .hero.is-coffee .navbar-link.is-active {
    background-color: #893a03;
    color: #fff;
  }
  
  .hero.is-coffee .tabs a {
    color: #fff;
    opacity: 0.9;
  }
  
  .hero.is-coffee .tabs a:hover {
    opacity: 1;
  }
  
  .hero.is-coffee .tabs li.is-active a {
    opacity: 1;
  }
  
  .hero.is-coffee .tabs.is-boxed a, .hero.is-coffee .tabs.is-toggle a {
    color: #fff;
  }
  
  .hero.is-coffee .tabs.is-boxed a:hover, .hero.is-coffee .tabs.is-toggle a:hover {
    background-color: rgba(10, 10, 10, 0.1);
  }
  
  .hero.is-coffee .tabs.is-boxed li.is-active a, .hero.is-coffee .tabs.is-boxed li.is-active a:hover, .hero.is-coffee .tabs.is-toggle li.is-active a, .hero.is-coffee .tabs.is-toggle li.is-active a:hover {
    background-color: #fff;
    border-color: #fff;
    color: #a24504;
  }
  
  .hero.is-coffee.is-bold {
    background-image: linear-gradient(141deg, #572502 0%, #a24504 71%, #d45a05 100%);
  }
  
  @media screen and (max-width: 768px) {
    .hero.is-coffee.is-bold .navbar-menu {
      background-image: linear-gradient(141deg, #572502 0%, #a24504 71%, #d45a05 100%);
    }
  }


    
